<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Uncle Harold</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Is feeling happy</p>
      <ion-list lines="none">
        <ion-item href="tel:07307498980">Call Uncle Harold</ion-item>
        <ion-card-subtitle>Household</ion-card-subtitle>
        <br>
        <h2>{{people}}</h2>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <!-- <ion-card class="welcome-card">
    <ion-card-header>
     <ion-card-subtitle>Household</ion-card-subtitle>
      <ion-card-title>Call</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>There is 1 person in the house</h2>
    </ion-card-content>
  </ion-card> -->

  <ion-card class="welcome-card">
    <ion-card-header>
     <ion-card-subtitle>Recent Events</ion-card-subtitle>
      <!-- <ion-card-title>Call</ion-card-title> -->
    </ion-card-header>
    <ion-card-content>
      
      <ion-list>
        <ion-item *ngFor="let item of mappedItems" (click)="openImage(item.initialString)">
          Incident at {{item.dateString}}
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
  </ion-list>
</ion-content>
