<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="https://i.kym-cdn.com/entries/icons/original/000/016/546/hidethepainharold.jpg" alt=""/>
    <ion-card-header>
      <ion-card-title>Uncle Harold</ion-card-title>
      <!-- <ion-card-subtitle>Is feeling happy</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <p>Is feeling happy</p>
      <ion-list lines="none">
        <ion-item href="javascript:alert('calling')">Call</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="welcome-card">
    <ion-card-header>
     <ion-card-subtitle>Household</ion-card-subtitle>
      <!-- <ion-card-title>Call</ion-card-title> -->
    </ion-card-header>
    <ion-card-content>
      <h2>There is 1 person in the house</h2>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
     <ion-card-subtitle>Recent Events</ion-card-subtitle>
      <!-- <ion-card-title>Call</ion-card-title> -->
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of items" href="https://google.com">
          {{item.title}}
          <div class="item-note" slot="end">
            {{item.note}}
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
  </ion-list>
</ion-content>
